.venv/
.venv_new/
data/*
!data/raw/
!data/processed/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/vdem_dyad.csv
__pycache__/
*.pyc
.ipynb_checkpoints/
credentials/
credentials/*.json
.env